golang实现HTTP2之主流程

## 参考资料
- [HTTP基本知识](HTTP基本知识.md)
- [HTTP资料汇总](HTTP2协议解析.md)
- [golang/net: \[mirror\] Go supplementary network libraries](https://github.com/golang/net)

这份代码是golang实现http2的官方代码。

## 入口
来自net/http2/h2c/h2c_test.go，所谓h2c是表示使用明文tcp来传输数据，不使用tls1.2

```go
func ExampleNewHandler() {
	handler := http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
		fmt.Fprint(w, "Hello world")
	})
	h2s := &http2.Server{
		// ...
	}
	h1s := &http.Server{
		Addr:    ":8080",
		Handler: NewHandler(handler, h2s),
	}
	log.Fatal(h1s.ListenAndServe())
}

```
入口展示了，使用h2c协议来生成一个Handler，其中NewHandle(handle, h2s)用来创建一个h2cHandler。该Handler用来替换net.HTTP中的ServeHTTP的实现。

## h2cHandler.ServeHTTP

```go
func (s h2cHandler) ServeHTTP(w http.ResponseWriter, r *http.Request) {
	// Handle h2c with prior knowledge (RFC 7540 Section 3.4)
	if r.Method == "PRI" && len(r.Header) == 0 && r.URL.Path == "*" && r.Proto == "HTTP/2.0" {
		if http2VerboseLogs {
			log.Print("h2c: attempting h2c with prior knowledge.")
		}
		conn, err := initH2CWithPriorKnowledge(w)
		if err != nil {
			if http2VerboseLogs {
				log.Printf("h2c: error h2c with prior knowledge: %v", err)
			}
			return
		}
		defer conn.Close()

		s.s.ServeConn(conn, &http2.ServeConnOpts{Handler: s.Handler})
		return
	}
	// Handle Upgrade to h2c (RFC 7540 Section 3.2)
	if conn, err := h2cUpgrade(w, r); err == nil {
		defer conn.Close()

        // 开始真正的处理HTT2P请求
		s.s.ServeConn(conn, &http2.ServeConnOpts{Handler: s.Handler})
		return
	}

    // 交给http1.1协议来处理
	s.Handler.ServeHTTP(w, r)
	return
}
```
* 如果客户端指定了使用HTTP2协议，那么直接使用HTTP2协议来处理。
* 客户端能够通过HTTP/1.1升级成HTTP2，那么也开始进行HTTP/2协议来处理。
*  如果都不支持，直接使用HTTP1.1的协议来处理。在上面的例子中就是handler变量对应的函数。

### h2cUpgrade

```c
func h2cUpgrade(w http.ResponseWriter, r *http.Request) (net.Conn, error) {
    // 查看请求头中是否包含Upgrade和HTTP2-Settings字段
	if !isH2CUpgrade(r.Header) {
		return nil, errors.New("non-conforming h2c headers")
	}

	// Initial bytes we put into conn to fool http2 server
	initBytes, _, err := convertH1ReqToH2(r)
	if err != nil {
		return nil, err
	}

    // 用来去接管http1的响应逻辑.
	hijacker, ok := w.(http.Hijacker)
	if !ok {
		return nil, errors.New("hijack not supported.")
	}
    // hook住之前http1.1的connection,
    // readwriter
	// It becomes the caller's responsibility to manage
	// and close the connection.
	conn, rw, err := hijacker.Hijack()
	if err != nil {
		return nil, fmt.Errorf("hijack failed: %v", err)
	}

    // 101状态转移，直接回
	rw.Write([]byte("HTTP/1.1 101 Switching Protocols\r\n" +
		"Connection: Upgrade\r\n" +
		"Upgrade: h2c\r\n\r\n"))
	rw.Flush()

	// A conforming client will now send an H2 client preface which need to drain
	// since we already sent this.
	if err := drainClientPreface(rw); err != nil {
		return nil, err
	}

    // 返回读写连接
	c := &rwConn{
		Conn:      conn,
		Reader:    io.MultiReader(initBytes, rw),
		BufWriter: newSettingsAckSwallowWriter(rw.Writer),
	}
	return c, nil
}
```
* 查看HTTP1的请求头中是否包含Upgrade和HTTP2-Setting字段
* 将HTTP1，获取所有的请求内容
* 将HTTP1中使用的TCP连接接管。并且直接回101状态给客户端
* 将客户端中的preface读完，相当于握手
* 返回一个读写的HTP2连接

### ServeConn

```c
// The opts parameter is optional. If nil, default values are used.
func (s *Server) ServeConn(c net.Conn, opts *ServeConnOpts) {
    // 获取base context
	baseCtx, cancel := serverConnBaseContext(c, opts)
	defer cancel()

    // server connection
	sc := &serverConn{
		srv:                         s,
		hs:                          opts.baseConfig(),
		conn:                        c,
		baseCtx:                     baseCtx,
        // 设置远端地址信息
		remoteAddrStr:               c.RemoteAddr().String(),
		bw:                          newBufferedWriter(c),
		handler:                     opts.handler(),
        // 该连接对应的stream统计
		streams:                     make(map[uint32]*stream),
		readFrameCh:                 make(chan readFrameResult),
		wantWriteFrameCh:            make(chan FrameWriteRequest, 8),
		serveMsgCh:                  make(chan interface{}, 8),
		wroteFrameCh:                make(chan frameWriteResult, 1), // buffered; one send in writeFrameAsync
		bodyReadCh:                  make(chan bodyReadMsg),         // buffering doesn't matter either way
		doneServing:                 make(chan struct{}),
		clientMaxStreams:            math.MaxUint32, // Section 6.5.2: "Initially, there is no limit to this value"
		advMaxStreams:               s.maxConcurrentStreams(),
		initialStreamSendWindowSize: initialWindowSize,
		maxFrameSize:                initialMaxFrameSize,
		headerTableSize:             initialHeaderTableSize,
		serveG:                      newGoroutineLock(),
		pushEnabled:                 true,
	}

    // 活跃connection统计
	s.state.registerConn(sc)
	defer s.state.unregisterConn(sc)

	// The net/http package sets the write deadline from the
	// http.Server.WriteTimeout during the TLS handshake, but then
	// passes the connection off to us with the deadline already set.
	// Write deadlines are set per stream in serverConn.newStream.
	// Disarm the net.Conn write deadline here.
	if sc.hs.WriteTimeout != 0 {
		sc.conn.SetWriteDeadline(time.Time{})
	}

	if s.NewWriteScheduler != nil {
		sc.writeSched = s.NewWriteScheduler()
	} else {
        // 设置默认的调度器
		sc.writeSched = NewRandomWriteScheduler()
	}

	// These start at the RFC-specified defaults. If there is a higher
	// configured value for inflow, that will be updated when we send a
	// WINDOW_UPDATE shortly after sending SETTINGS.
    // 写流初始窗口
	sc.flow.add(initialWindowSize)
    // 读流
	sc.inflow.add(initialWindowSize)
    // 创建解码器
	sc.hpackEncoder = hpack.NewEncoder(&sc.headerWriteBuf)

    // 初始化frame
	fr := NewFramer(sc.bw, c)
	fr.ReadMetaHeaders = hpack.NewDecoder(initialHeaderTableSize, nil)
	fr.MaxHeaderListSize = sc.maxHeaderListSize()
	fr.SetMaxReadFrameSize(s.maxReadFrameSize())
	sc.framer = fr
    ....
    // 这里如果有hook，那么执行hook
	if hook := testHookGetServerConn; hook != nil {
		hook(sc)
	}
    // 开始运行http2 connection 开始服务
	sc.serve()
}
```
* 从传进来的option中获取base context
* 初始化该connection
* 将该tcp连接加入到活跃统计中
* 初始化该connection写调度策略，这里默认是随意写调度器
* 初始化上行和下行的流量大小
* 初始化编解码器
* 初始framer，用来统一管理frame的概念
* 如果有传入testHookGetServerConn的函数回调，执行该函数回调
* 该http2 connection开始服务

### http2 connection serve干了啥

```go
func (sc *serverConn) serve() {
    // 检查创建ServerConn和运行serve方法的是否在一个goroutine中运行
	sc.serveG.check()
	defer sc.notePanic()
	defer sc.conn.Close()
	defer sc.closeAllStreamsOnConnClose()
	defer sc.stopShutdownTimer()
	defer close(sc.doneServing) // unblocks handlers trying to send
    ...

    // 写入一个frame
    // 设置connectiond对应的选项
	sc.writeFrame(FrameWriteRequest{
		write: writeSettings{
            // 对应的是id和对应的值
			{SettingMaxFrameSize, sc.srv.maxReadFrameSize()},
			{SettingMaxConcurrentStreams, sc.advMaxStreams},
			{SettingMaxHeaderListSize, sc.maxHeaderListSize()},
			{SettingInitialWindowSize, uint32(sc.srv.initialStreamRecvWindowSize())},
		},
	})
    // setting frame sent without ack
	sc.unackedSettings++

	// Each connection starts with intialWindowSize inflow tokens.
	// If a higher value is configured, we add more tokens.
	if diff := sc.srv.initialConnRecvWindowSize() - initialWindowSize; diff > 0 {
        // 更新窗口大小
		sc.sendWindowUpdate(nil, int(diff))
	}

    // 读readPrefeace
	if err := sc.readPreface(); err != nil {
		sc.condlogf(err, "http2: server: error reading preface from client %v: %v", sc.conn.RemoteAddr(), err)
        // 读取preface错误, 直接返回
        // 直接返回
		return
	}
	// Now that we've got the preface, get us out of the
	// "StateNew" state. We can't go directly to idle, though.
	// Active means we read some data and anticipate a request. We'll
	// do another Active when we get a HEADERS frame.
	sc.setConnState(http.StateActive)
	sc.setConnState(http.StateIdle)

	if sc.srv.IdleTimeout != 0 {
        // 如果有设置空闲等待，那么设置任务
		sc.idleTimer = time.AfterFunc(sc.srv.IdleTimeout, sc.onIdleTimer)
		defer sc.idleTimer.Stop()
	}

	go sc.readFrames() // closed by defer sc.conn.Close above

    // 2s的超时函数
	settingsTimer := time.AfterFunc(firstSettingsTimeout, sc.onSettingsTimer)
	defer settingsTimer.Stop()

	loopNum := 0
	for {
        // 是一个死循环
		loopNum++
		select {
        // 各个从写channel中读到了数据
		case wr := <-sc.wantWriteFrameCh:
            // 如果是Error,那么首先reset该Connection
			if se, ok := wr.write.(StreamError); ok {
				sc.resetStream(se)
				break
			}
            // 然后直接写
			sc.writeFrame(wr)
		case res := <-sc.wroteFrameCh:
            // 写完了上个一个frame, 处理写完后的逻辑
			sc.wroteFrame(res)
		case res := <-sc.readFrameCh:
            // 获取从客户端读取的一帧的结果
			if !sc.processFrameFromReader(res) {
                // 如果客户端close了，这里直接返回
				return
			}
			res.readMore()
			if settingsTimer != nil {
                // 直接关掉定时器
				settingsTimer.Stop()
				settingsTimer = nil
			}
        // 上层handler的响应发送过来了
		case m := <-sc.bodyReadCh:
            // 读取完毕后，告知对方自己的大小
			sc.noteBodyRead(m.st, m.n)
		case msg := <-sc.serveMsgCh: // 如该chanenl有数据，那么是server端需要发送
			switch v := msg.(type) {
			case func(int):
				v(loopNum) // for testing
			case *serverMessage:
				switch v {
                // 打印对应的channel
				case settingsTimerMsg:
					sc.logf("timeout waiting for SETTINGS frames from %v", sc.conn.RemoteAddr())
					return
				case idleTimerMsg:
					sc.vlogf("connection is idle")
					sc.goAway(ErrCodeNo)
				case shutdownTimerMsg:
					sc.vlogf("GOAWAY close timer fired; closing conn from %v", sc.conn.RemoteAddr())
					return
				case gracefulShutdownMsg:
					sc.startGracefulShutdownInternal()
				default:
					panic("unknown timer")
				}
			case *startPushRequest:
				sc.startPush(v)
			default:
				panic(fmt.Sprintf("unexpected type %T", v))
			}
		}

		if sc.queuedControlFrames > sc.srv.maxQueuedControlFrames() {
			sc.vlogf("http2: too many control frames in send queue, closing connection")
			return
		}

		sentGoAway := sc.inGoAway && !sc.needToSendGoAway && !sc.writingFrame
		gracefulShutdownComplete := sc.goAwayCode == ErrCodeNo && sc.curOpenStreams() == 0
		if sentGoAway && sc.shutdownTimer == nil && (sc.goAwayCode != ErrCodeNo || gracefulShutdownComplete) {
			sc.shutDownIn(goAwayTimeout)
		}
	}
}
```
* 检查创建ServerConn和运行serve的方式是否是在同一个goroutine中
*  进行资源清理工作，可以理解成成一个go routine销毁时，会执行上面的defer操作。
*  发送一个setting 帧，告知客户端自己server对应的HTTP的设置，包含最大的帧负载大小，服务器允许client同时发送的stream个数，服务器能够接收的最大header大小，每个流stream最多发送的字节数。
*  如果server默认的初始化接收流窗口大小大于65535，将差异值更新通知客户端更新。
*  从connection中读取Preface数据。
* 有设置空闲等待时间，那么设置空闲等待任务。
* 起一个协程，用来读客户端过来的frame
* 进入一个死循环
    * 如果其他goroutine，通知server goroutine需要发送frame，那么直接发送，只是对于出现Stream错误帧的情况，需要特殊处理下，注意sc.resetStream的实现也进行了writeFrame
    * 如果其余协程有写完一帧，那么server goroutine将执行写完后的逻辑
    * 如果其余协程有读完一帧，那么处理读后的结果。
    * 如果上层handler已经读取了从客户端的body，那么通知server goroutine发送相应的frame给客户端，这里是将server关于该connection对应的窗口大小更新，通知给客户端。
    * 其他协程需要告知server goroutine消息有收到，那么也会继续处理
        * 如果收到的是一段自定义的代码，那么直接调用
        * 如果如果是在收到setting帧超时，直接退出循环，关闭该tcp连接，注意到最上面的defer
        * 如果connection一直空闲，发送 goAway帧给client
        * 如果是其他goroutine要关闭，那么开始执行优雅关闭。
   * 最后处理接收客户端goAway的帧
       * 如果是当前connection的流所有对应的写都写出去了，而且收到的goAway错误码是0，这样对应server，可以执行优雅关闭了。关闭的逻辑是在1s(goAwayTimeout)后，执行sc.OnShutdownTimer，该go routine会给server goroutine对应的serveMsgCh发送消息，通知server gorotinue退出。
		
注意到这里有一个server gorotine的概念，这个相当于一个控制gorotine，是不能够阻塞的，所有的读写IO操作，都是从其他的goroutine中完成，然后通知到server goroutine来执行最后操作完的结果。


#golang #http2 #public